
/* #Site Styles
================================================== */

	body, h1, h2, h3, h4, h5, h6, input, textarea, select {
		font-family: 'PT Sans', Arial, Helvetica, sans-serif;
	}

	header {
		background: #5a9fd4;
		background: -moz-linear-gradient(top,  #5a9fd4 0%, #306998 100%);
		background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#5a9fd4), color-stop(100%,#306998));
		background: -webkit-linear-gradient(top,  #5a9fd4 0%,#306998 100%);
		background: -o-linear-gradient(top,  #5a9fd4 0%,#306998 100%);
		background: -ms-linear-gradient(top,  #5a9fd4 0%,#306998 100%);
		background: linear-gradient(to bottom,  #5a9fd4 0%,#306998 100%);
		filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#5a9fd4', endColorstr='#306998',GradientType=0 );
		color: white;
	}

	header h1 {
		margin-bottom: 0;
	}

	header h1 a, header h1 a:visited {
		color: white;
	}

	header h1 a {
		font-weight: bold;
		text-decoration: none;
	}

	nav {
		background: #ffd43b;
		background: -moz-linear-gradient(top,  #ffd43b 0%, #ffe873 100%);
		background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffd43b), color-stop(100%,#ffe873));
		background: -webkit-linear-gradient(top,  #ffd43b 0%,#ffe873 100%);
		background: -o-linear-gradient(top,  #ffd43b 0%,#ffe873 100%);
		background: -ms-linear-gradient(top,  #ffd43b 0%,#ffe873 100%);
		background: linear-gradient(to bottom,  #ffd43b 0%,#ffe873 100%);
		filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffd43b', endColorstr='#ffe873',GradientType=0 );
	}

	nav ul, nav ul li {
		margin: 0;
	}

	nav ul li {
		padding: 0 10px;
	}

	nav ul li a {
		display: inline-block;
		line-height: 30px;
		text-decoration: none;
	}

	nav > div > ul > li {
		float: left;
		position: relative;
	}

	nav > div > ul > li > ul {
		box-shadow: 0 2px 2px rgba(0, 0, 0, 0.3);
		position: absolute;
		left: -10000px;
		z-index: 10;
	}

	nav > div > ul > li:hover {
		background-color: white;
	}

	nav > div > ul > li:hover > ul {
		left: 0;
	}

	nav > div > ul > li > ul > li {
		overflow: visible;
		white-space: nowrap;
	}

	nav > div > ul > li > ul > li:hover {
		background-color: #f0f0f0;
	}

	section {
		background-color: white;
	}

/* #Page Styles
================================================== */

	.errorlist, .errorlist li {margin: 0}
	dl {overflow: hidden}
	hr {margin: 20px 0}

	/* forms */
	legend {font-size: 20px; padding-bottom: 30px}
	.field-wrapper {margin-bottom: 15px}
	.field-wrapper label, .field-wrapper input, .field-wrapper textarea, .field-wrapper select {display: inline-block; margin: 0}
	.field-wrapper label {float: left; min-width: 120px; padding: 4px 0}
	.field-wrapper select {height: 28px}
	.form-actions {padding-left: 120px}
	.field {display: inline-block}
	.field-error, .field-help {display: block; margin-top: 5px}
	.field-error {color: #B94A48}
	.field-help {font-size: 12px}
	.field label {float: none; padding: 0}
	.field.checkbox {margin-left: 120px}
	.field.checkbox .field-help {margin-top: 0}

	#proposal-list table {width: 100%}
	#proposal-create #id_duration_0 {width: 30px; text-align: center; margin-right: 5px}
	#proposal-create #id_duration_1 {width: 100px}
	#proposal-create #id_description, #proposal-create #id_abstract {width: 500px; height: 200px}
	#proposal-detail .speaker {margin-bottom: 30px}
	#proposal-detail dt, #proposal-detail dd {float: left}
	#proposal-detail dt {width: 20%}
	#proposal-detail dd {width: 80%}

/* #Media Queries
================================================== */

	/* Smaller than standard 960 (devices and browsers) */
	@media only screen and (max-width: 959px) {}

	/* Tablet Portrait size to standard 960 (devices and browsers) */
	@media only screen and (min-width: 768px) and (max-width: 959px) {}

	/* All Mobile Sizes (devices and browser) */
	@media only screen and (max-width: 767px) {}

	/* Mobile Landscape Size to Tablet Portrait (devices and browsers) */
	@media only screen and (min-width: 480px) and (max-width: 767px) {}

	/* Mobile Portrait Size to Mobile Landscape Size (devices and browsers) */
	@media only screen and (max-width: 479px) {}


/* #Font-Face
================================================== */
/* 	This is the proper syntax for an @font-face file
		Just create a "fonts" folder at the root,
		copy your FontName into code below and remove
		comment brackets */

/*	@font-face {
	    font-family: 'FontName';
	    src: url('../fonts/FontName.eot');
	    src: url('../fonts/FontName.eot?iefix') format('eot'),
	         url('../fonts/FontName.woff') format('woff'),
	         url('../fonts/FontName.ttf') format('truetype'),
	         url('../fonts/FontName.svg#webfontZam02nTh') format('svg');
	    font-weight: normal;
	    font-style: normal; }
*/