{% load i18n sitetree %}
{% load static from staticfiles %}
<!DOCTYPE html>
<!--[if lt IE 7 ]><html class="ie ie6" lang="en"> <![endif]-->
<!--[if IE 7 ]><html class="ie ie7" lang="en"> <![endif]-->
<!--[if IE 8 ]><html class="ie ie8" lang="en"> <![endif]-->
<!--[if (gte IE 9)|!(IE)]><!--><html lang="en"> <!--<![endif]-->
<head>

    <meta charset="utf-8">
    <title>{% trans "Django Mango" %}</title>
    <meta name="description" content="{% trans "More Mango, less Django!" %}">
    <meta name="author" content="{% trans "PyPUG Team" %}">

    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

    <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=PT+Sans:400,700,400italic,700italic">
    <link rel="stylesheet" href="{% static 'css/base.css' %}">
    <link rel="stylesheet" href="{% static 'css/skeleton.css' %}">
    <link rel="stylesheet" href="{% static 'css/layout.css' %}">

    <!--[if lt IE 9]>
        <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

    <link rel="shortcut icon" href="{% static 'images/favicon.ico' %}">
    <link rel="apple-touch-icon" href="{% static 'images/apple-touch-icon.png' %}">
    <link rel="apple-touch-icon" sizes="72x72" href="{% static 'images/apple-touch-icon-72x72.png' %}">
    <link rel="apple-touch-icon" sizes="114x114" href="{% static 'images/apple-touch-icon-114x114.png' %}">

</head>
<body>

    <header>
        <div class="container">
            <div class="sixteen columns">
                <h1><a href="{% url home %}">{% trans "Django Mango" %}</a></h1>
                <p>{% trans "More Mango, less Django!" %}</p>
            </div>
        </div>
    </header>

    <nav>
        <div class="container">
            <div class="sixteen columns">
                {% sitetree_menu from "primary_nav" include "trunk" %}

                <!-- 
                <ul class="clearfix">
                    <li><a href="#">{% trans "About" %}</a></li>
                    <li><a href="#">{% trans "Events" %}</a></li>
                    <li><a href="#">{% trans "Speakers" %}</a></li>
                    <li><a href="#">{% trans "Sponsors" %}</a></li>
                    <li><a href="#">{% trans "Venue" %}</a></li>
                    <li>
                        {% if user.is_authenticated %}
                            {% blocktrans with username=user.username %}
                                <a href="#">Signed in as {{ username }}</a>
                                <ul>
                                    <li><a href="#">Profile</a></li>
                                    <li><a href="#">Logout</a></li>
                                </ul>
                            {% endblocktrans %}
                        {% else %}
                        <a href="#">{% trans "Login" %}</a>
                        <ul>
                            <li>
                                <a href="{% url socialauth_begin 'twitter' %}">{% trans "Login with Twitter" %}</a>
                            </li>
                            <li>
                                <a href="{% url socialauth_begin 'facebook' %}">{% trans "Login with Facebook" %}</a>
                            </li>
                        </ul>
                        {% endif %}
                    </li>
                </ul> -->

            </div>
        </div>
    </nav>

    <section>
        {% if messages %}
        <div class="container">
            <div id="messages" class="sixteen columns">
                <ul>
                    {% for message in messages %}
                        <li class="{% if message.tags %}{{ message.tags }}{% endif %}">
                            {{ message }}
                        </li>
                    {% endfor %}
                </ul>
            </div>
        </div>
        {% endif %}
        <div class="container">
            {% block content %}
            <div id="content" class="ten columns alpha">
            {% endblock content %}

            {% block sidebar %}
            <div id="sidebar" class="six columns omega">
            {% endblock sidebar %}
        </div>
    </section><!-- container -->

    <script type="text/javascript" src="{% static 'js/jquery.js' %}"></script>
    {% block javascript %}
    {% endblock javascript %}
</body>
</html>